{% extends 'template.html' %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{variable1}}</h1>
    <p class="lead">Submission was a success!!</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{variable2}}</h1>
    <p class="lead">Submission was a success!!</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{variable3}}</h1>
    <p class="lead">Submission was a success!!</p>
  </div>
</div>


{% endblock body %}
