{% extends 'template.html' %}
{% block body %}

This is my <strong>(queried)</strong> database!!!~~

{% if QueryOneTwoThree == 1 %}

P.S, this is my 'FULL' database

{% elif QueryOneTwoThree == 2 %}

P.S, this is my 'User' database

{% elif QueryOneTwoThree == 3 %}

P.S, this is my 'Entry' database

{% endif %}

<p></p>

<p>Table 'User'(UserID, EmployeeID, email)</p>

{% for users in myUsers %}

<li>
  {{users}}
</li>

{% endfor %}

<p>Table 'Entry'(UniqueID, Date/Time, Locations Visited, Miles Driven, UserID)</p>

{% for entries in myEntries %}

<li>
  {{entries}}
</li>

{% endfor %}

<div class="buttons">
  <form id=1 action="{{ url_for('queryStuff') }}" method="post">
    <button type="submit" name=queryUserOrEntry value="users" class="btn btn-primary btn-lg btn-block">Query Users</button>
  </form>
</div>

<div class="container">
  <form action="{{ url_for('queryStuff') }}" method="post">
    <button type="submit" name=queryUserOrEntry value="entries" class="btn btn-primary btn-lg btn-block">Query Entries</button>
  </form>
</div>

{% if queryUserOrEntry == 'User' %}

<form id=2 action="{{ url_for('queryForReals') }}" method="post">

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">User ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="myUserID" placeholder="Enter UserID" value="jack@orangeusd.org">
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">EmployeeID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="myEmpID" placeholder="Enter empID" value="111111">
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="myEmail" placeholder="Enter ID" value="tan@new.win">
    </div>
  </div>
<div class="row">
  <div class="row">
    <div class="row">
      <div class="btn pull-left">
      <button type="submit" name=queryUserOrEntry value="users" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</form>

{% elif queryUserOrEntry == 'Entry' %}

<form id=3 action="{{ url_for('queryForReals') }}" method="post">

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">User ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="myUserID" placeholder="Enter UserID" value="2">
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">EmployeeID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="myEmpID" placeholder="Enter name" value="111111">
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="myEmail" placeholder="Enter ID" value="tan@new.win">
    </div>
  </div>

  <div class="row">
    <div class="btn pull-left">
    <button type="submit" name=queryUserOrEntry value="entries" class="btn btn-primary">Submit</button>
  </div>



</form>

{% endif %}

{% endblock %}


{% block body2 %}
{% if clean == 1 %}

  <a href="{{url_for('printMileage')}}">
    <button type="button" class="btn btn-primary my-3" name="clean_Up" value="cleanUp">Clean up for printing!</button>
  </a>

{% endif %}
{% endblock %}
